body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  min-width: 320px;
}
#Page2 {
  display: block;
  height: 100%;
}
.container {
  height: 100%;
}
.top {
  margin-bottom: -1px;
  height: 55%;
  width: 100%;
  padding-top: 4rem;
  background: -webkit-gradient(linear, right top, left bottom, from(#de4411), to(#e1751d));
  background: linear-gradient(to bottom left, #de4411, #e1751d);
}
.top .bg {
  height: 100%;
  width: 100%;
  background: url(../img/SVG/p4bg.svg) bottom no-repeat;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top .bg .p2mc {
  height: 37%;
  width: 37%;
}
